<h5>Hard & Soft Skills</h5>

<div id="hyss">
  <div class="circle">
    <circle-progress
      [percent]="85"
      [radius]="75"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="600"
      subtitle="eventos"
    ></circle-progress>
  </div>
  <div class="circle">
    <circle-progress
      [percent]="50"
      [radius]="75"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="250"
      subtitle="estudio"
    ></circle-progress>
  </div>
  <div class="circle">
    <circle-progress
      [percent]="35"
      [radius]="75"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="300"
      subtitle="deportes"
    ></circle-progress>
  </div>
  <div class="circle">
    <circle-progress
      [percent]="98"
      [radius]="75"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="400"
      subtitle="retoque digital"
    ></circle-progress>
  </div>
  <div class="circle">
    <circle-progress
      [percent]="68"
      [radius]="75"
      [outerStrokeWidth]="8"
      [innerStrokeWidth]="4"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="800"
      subtitle="fotoperiodismo"
    ></circle-progress>
  </div>
</div>
