<div class="educacionctn" id="educacion">
  <div class="instituto">
    <a href="https://novafotografia.com.ar"
      ><img src="../../../assets/nova2.png" alt="NOVA|Escuela de Fotografía."
    /></a>
  </div>

  <div class="educacion-p">
    <section>
      <h4>2017 - 2020 | Fotografía Profesional</h4>
      <h5>Orientación a fotoperiodismo.</h5>
      <p>
        Realicé mis estudios formales en los diferentes campos de la fotografía
        en la escuela NOVA de la Ciudad de La Plata. Además de los cursos y
        asignaturas componentes del programa, concurrí a seminarios organizados
        por la cooperativa dictados por profesionales reconocidos del universo
        de la fotografía en Argentina y Latinoamérica. En el margen del último
        año de cursada, cumplí con las horas de Prácticas Profesionalizantes
        requeridas para la obtención del título, las cuales se organizaron con
        organizaciones e instituciones externas a la escuela.
      </p>
    </section>
  </div>

  <div class="conocimientos">
    <h5>Conocimientos y áreas</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Fotografía Documental</li>
      <li class="list-group-item">Fotoperiodismo</li>
      <li class="list-group-item">Fotografía de Retrato</li>
      <li class="list-group-item">Publicidad y Fotoproducto</li>
      <li class="list-group-item">Edicion y retoque digital</li>
    </ul>
  </div>
</div>
<div class="apps">
  <h5>Apps</h5>
  <ul class="adobeli">
    <li>
      <img src="../../../assets/adobe-photoshop-flat.png" />
      <p>Adobe Photoshop</p>
    </li>
    <li>
      <img src="../../../assets/adobe-lightroom-flat.png" />
      <p>Adobe Photoshop Lightroom</p>
    </li>
    <li>
      <img src="../../../assets/indesign-flat.png" />
      <p>Adobe InDesign</p>
    </li>
  </ul>
</div>
