<div class="" id="educacionctn">
  <div class="container-lg">
    <h4>Conocimientos| Educación</h4>
    <button
      class="btn btn-outline-warning btn-sm"
      type="button"
      routerLink="/nuevaedu/"
      *ngIf="isLogged"
    >
      Crear
    </button>
  </div>
  <div>
    <div class="media" *ngFor="let Educacion of educacion">
      <img src="{{ Educacion.imgE }}" class="mr-3" id="imgmedia" />
      <div class="media-body">
        <h5 class="mt-0" id="media-title">{{ Educacion.nombreE }}</h5>
        <p>{{ Educacion.descripcionE }}</p>
        <div
          class="btn-group btn-group-sm mx-auto"
          role="group"
          aria-label="Modificar"
        >
          <button
            type="button"
            class="btn btn-outline-dark"
            routerLink="/nuevaedu"
            *ngIf="isLogged"
          >
            <i class="bi bi-pencil"></i>
          </button>
          <button
            type="button"
            class="btn btn-outline-dark"
            *ngIf="isLogged"
            (click)="borrar(Educacion.id)"
          >
            <i class="bi bi-trash3"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
