<div class="container-fluid d-flex bio-ctn" id="bio">
  <div class="fotoctn" id="fotoctn">
    <img src="../../../assets/profilepic.jpg" alt="Fermin Vazquez" />
  </div>
  <div class="biotextoctn">
    <h1>Conoceme</h1>
    <p class="bio-p">
      Soy Fermin Vazquez, me dicen <i>Riido</i>. Soy fotógrafo desde 2016 y me
      especializo principalmente en la fotografía documental y el registro de
      eventos culturales. Mi trabajo personal es relacionado a los retratos,
      sean intimos o situacionales, en estudio o en la calle. Desde chico me
      inspiró la cámara como dispositivo y medio expresivo, por ver a mi viejo
      con su Fujica a rollo, más que nada. Empecé realizando mi trabajo en ese
      soporte, y de hecho con la <b>mismisima Fujica STX-1 de mi viejo</b>, que
      le prestó mi abuelo. <br />Hoy las 35 exposiciones me quedan cortas para
      todo lo que quiero mostrar, asi que el formato digital me sienta
      excelente. Este es mi portfolio de fotografía,
      <i>gracias por tu tiempo</i>.
    </p>
  </div>
</div>
