/*header*/
div.jumbotron,
.jumbotron .container-fluid {
  padding: 0%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 10%,
    rgba(0, 0, 0, 0.2) 40%,
    transparent
  );
}
.jumboheader {
  position: absolute;
  color: azure;
  font-weight: 300;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#riidoicon {
  margin: 1.5rem;
  width: 150px;
}

@media (min-width: 393px) {
  p {
    text-align: center;
  }
}
@media (max-width: 393px) {
  p {
    text-align: left;
  }
}

.jumboheader p {
  margin: 0px 25px;
}
.jumbotron {
  margin-bottom: 0px !important;
}

.logo-ctn {
  display: flex;
  justify-content: center;
}

#bgimg {
  height: 450px;
  width: 100%;
  object-fit: cover;
  object-position: 100% 95%;
}

/*titulo*/

h1 {
  font-family: "Taviraj";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 5px;
}

/* @media (min-width: 1366px) {
  .textctn p {
    font-size: 1.2em;
  }
  .whyus p {
    font-size: 1.2em;
  }
}

@media (max-width: 800px) {
  div.dblctn {
    flex-direction: column !important;
  }
  .dblctn div {
    width: 100%;
  }
} */
